/* Angular UI Bootstrap CSS fix */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.rating-icon {
    margin: 0 -5px;
}

.normal-text, .normal-text:hover, .normal-text:visited {
    color: white;
    text-decoration: none !important;
}

.torrent-anchor, .torrent-anchor:hover {
    outline: 0;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.error-text {
    color: red;
    text-transform: underline;
}

.clickable-text {
    outline: 0;
    text-decoration: underline;
    cursor: pointer;
}

.profile-contailer {
    font-size: 0.7em;
}

torrents-table {
    min-width: 50%;
}

md-dialog img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.description-dialog md-dialog-actions md-button,
.description-dialog md-dialog-actions button {
    min-width: 4em !important;
}

@media (max-width: 960px) {
    .torrents-pagination {
        -webkit-transform: scale(1.1) ;
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
}