<div id="dash-holder">
  <app-search fxLayout="row"
	(queryChange)="onQueryChange($event)"></app-search>

	<mat-paginator *ngIf="pagination.pagesCount" 
							[length]="pagination.torrentsCount"
              [pageSize]="torrentsCountPerPage"
              (page)="onPageChange($event)">
	</mat-paginator>

  <app-torrent-list 
  	fxLayout="row"
  	fxLayoutAlign="center" 
  	[torrents]="torrents"
  	[loading]="loadingTorrents"
  	(torrentSelected)="onTorrentSelected($event)"
	>
  </app-torrent-list>

  <mat-paginator *ngIf="pagination.pagesCount && !loadingTorrents" 
              [length]="pagination.torrentsCount"
              [pageSize]="torrentsCountPerPage"
              (page)="onPageChange($event)">
  </mat-paginator>

  <app-torrent-details [torrent]="selectedTorrent"></app-torrent-details>

  <div 
    *ngIf="loadingTorrentDescription" 
    fxLayout="row" 
    fxLayoutAlign="center" 
    gdAlignColumns="center"

    class="loading-holder"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>
